<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,800,700,900,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/create.css">
    <title>Create Location</title>
</head>
<body>

    <div class="overlay">
        <div class="wrap">
            <h1>Add New Location</h1>
            <form action="/location/create" method="POST">
                <input type="text" name="locationName" placeholder="Location">
                <input type="text" name="numslots" placeholder="Number Of Slots">
                <input type="submit" value="ADD">
            </form>
        </div>
    </div>
</body>
</html>