<!-- <!DOCTYPE html>
Code by Divinector (www.divinectorweb.com)
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Responsive Homepage design with Bootstrap and Animate css</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.6.2/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">    



</head>
<body>

    <header>
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container">
                 Brand and toggle get grouped for better mobile display 
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">ParkSlot</a>
                </div>

                 Collect the nav links, forms, and other content for toggling 
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/info">Home</a></li>
                        <li><a href="/location/search">SEARCH LOCATION</a></li>
                        
                        <li><a href="/logout">LOGOUT</a></li>
                    </ul>
                </div> /.navbar-collapse 
            </div> /.container-fluid 
        </nav>


        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
             Indicators 
            

             Wrapper for slides 
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="banner" style="background-color: black"></div>
                    <div class="flex-rectangle"></div><div class="flex-rectangle"></div>
                    <div class="carousel-caption">
                        <h3 class="animated bounceInLeft" style="animation-delay: 2s"><div class="flex-rectangle"></div><br>
                        <div class="flex-rectangle"></div><br>
                    <div class="flex-rectangle"></div><br><div class="flex-rectangle"></div><br</h3>
                        <p class="animated bounceInRight" style="animation-delay: 3s"><a href="slot.ejs">Slot booking</a></p>
                    </div>

                </div>

            </div>

            Controls 
            <h2>Number of slots: <span id="slotnumber"></span> </h2>
             Controls 
            
        </div>

    </header>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        const slot_details = <%- JSON.stringify(slotDetails) %>;
        console.log(slot_details);
        console.log(slot_details.slots.length);
        const numberofslots = slot_details.slots.length;
        $('#slotnumber').html(numberofslots);
    </script>
</body>
</html> -->
<!-- COMMMMMMMENTTTSSS -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SLOT</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.6.2/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">    
    <style type="text/css">
      .carousel-caption {
  padding-bottom: 50px;
  font-family: poppins;
}
 .carousel-caption a {
  background: #EDBB00;
  padding: 15px 35px;
  display: inline-block;
  margin-top: 100px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
}
    </style>

</head>
<body>

    <header>
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
               <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">ParkSlot</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/info">HOME</a></li>
                        <li><a href="/location/search">SEARCH LOCATION</a></li>
                        
                        <li><a href="/logout">LOGOUT</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
           </div><!-- /.container-fluid -->
       </nav>


        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            

            <!-- Wrapper for slides -->
         <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="banner" style="background-color: black;"></div>
                    <div class="flex-rectangle"></div><div class="flex-rectangle"></div>
                    <div class="carousel-caption">

                        
                        <h3 class="animated bounceInLeft" style="animation-delay: 2s">
                            <table style="width:100%"> 

                                 <tr>
                                      <td align="center" ><div style="width:150px;height:300px;border:1px solid #000;background-color:#509B41;"></div> </td>
                                      <td align="center"><div style="width:150px;height:300px;border:1px solid #000;background-color:#509B41;"></div></td>
                                        <td align="center"><div style="width:150px;height:300px;border:1px solid #000;background-color:#509B41"></div></td>
                                        <td align="center"><div style="width:150px;height:300px;border:1px solid #000;background-color:#509B41;"></div></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">SLOT 1</td>
                                    <td style="text-align: center;">SLOT 2</td>
                                    <td style="text-align: center;">SLOT 3</td>
                                    <td style="text-align: center;">SLOT 4</td>


                                </tr>
                            </table>

                        </h3>
                        <h3 class="animated bounceInRight" style="animation-delay: 3s"><a href="#">Slot booking</a></h3>
                    </div>
                </div>
                

            </div>

            <!-- Controls -->
           
        </div>

    </header>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        
    </script>
</body>
</html>


